parameters:
	ignoreErrors:
		-
			message: '#^Constant INTEGRITY_PLUGIN_DIR not found\.$#'
			identifier: constant.notFound
			count: 4
			path: src/Admin/SettingsPage.php

		-
			message: '#^Constant INTEGRITY_PLUGIN_URL not found\.$#'
			identifier: constant.notFound
			count: 2
			path: src/Admin/SettingsPage.php

		-
			message: '#^Constant INTEGRITY_VERSION not found\.$#'
			identifier: constant.notFound
			count: 2
			path: src/Admin/SettingsPage.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Admin/SettingsPage.php

		-
			message: '#^Offset ''meta_query'' on array\{posts_per_page\: mixed, paged\: mixed\} on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Api/Controllers/MeetingController.php

		-
			message: '#^Constant INTEGRITY_VERSION not found\.$#'
			identifier: constant.notFound
			count: 1
			path: src/Api/RestController.php
